<!DOCTYPE html>
<html lang="en">

<head>
	<title>Home</title>
	<% include partials/head %>
	<link href="/stylesheets/style.css" rel="stylesheet" />
	<link href="/stylesheets/home.css" rel="stylesheet" />
	<link rel="stylesheet" href="/stylesheets/cards-gallery.css" />
</head>

<body style="font-family: Roboto;">
	<div class="container home-top-margin">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item">
				<a class="nav-link tab-a" id="tab1" data-target="#home" aria-controls="home" data-toggle="tab" href="/summary"
				style="color: black;">Summary</a>
			</li>
			<li class="nav-item">
				<a class="nav-link tab-a" data-target="#menu1" data-toggle="tab" aria-controls="menu1"
					href="/gallary" style="color: black;">Gallary</a>
			</li>
			<li class="nav-item">
				<a class="nav-link tab-a" data-target="#menu2" data-toggle="tab" aria-controls="menu2"
					href="/addExperiment" style="color: black;">Add Experiment</a>
			</li>

		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div id="home" class="container tab-pane" role="tabpanel"><br>
			</div>
			<div id="menu1" class="container tab-pane fade" role="tabpanel"><br>
			</div>
			<div id="menu2" class="container tab-pane fade" role="tabpanel"><br>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
	</script>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
	</script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>

	<script type="text/javascript">
		$('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
			var url = $(this).attr("href"); // the remote url for content
			var target = $(this).data("target"); // the target pane
			var tab = $(this); // this tab
			// ajax load from data-url
			$(target).load(url, function (result) {
				tab.tab('show');
			});
		});
		// initially activate the first tab..
		$('#tab1').tab('show');
	</script>
</body>

</html>