<!DOCTYPE html>
<html>
<head>
    <title>Choose Model</title>
    <% include partials/head %>
    <link href="/stylesheets/default.css" rel="stylesheet" />
    <link href="/stylesheets/selectModel.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- Navigation Bar -->
    <br /><br /><br />
    <% include partials/train_header %>
    <div class="container">
        <!-- content -->
        <div class="add-categories content-container">
            <!-- progress bar -->
            <div class="progress-container">
                <div class="progress-track"></div>
                <div class="progress-track-completed step1"></div>
                <div class="complete-bullet"></div>
                <div class="complete-text">
                    <span class="step-text">Complete</span>
                </div>
                <div id="step1" class="progress-step-complete">
                    <span class="step-text">Choose model</span>
                </div>
                <div id="step2" class="progress-step">
                    <span class="step-text">Select data</span>
                </div>
                <div id="step3" class="progress-step">
                    <span class="step-text">Customize inputs</span>
                </div>
                <div id="step4" class="progress-step">
                    <span class="step-text">Name+train</span>
                </div>
            </div>
            <h1 class="step-title">1. Choose a model type </h1>
            <div class="step-container">
                <h4 class="step-directions">Select a model type below.</h4>
                <a onclick="window.open('https://neurohive.io/en/popular-networks/vgg16/', '_blank', 'top=100 left=300,width=800,height=500');"href="/selectModel">Read more about model types <i class="fa fa-external-link-alt fa-xs" aria-hidden="true"></i
                    ></a>
                <!-- <%selectedModel="VGG16"%> -->
                <!-- <%if (selectedModel!=""){%><p>You selected model: <%= selectedModel%></p><%}%> -->
                <div class="model-type-button-form">
                    <form  method="POST" action="/selectModel" >
                        <div class="model-type-button-container">
                            <!-- <label for="VGG16">VGG16</label><br> -->
            
                            <%if(selectedModel==="VGG16"){%> 
                                <button id="vgg16-button" class="model-type-button model-type-button-selected" type="submit" name="selectedModel" value="VGG16">
                            <%}else{%> 
                                <button id="vgg16-button" class="model-type-button" type="submit" name="selectedModel" value="VGG16">
                            <%}%>
                                <p class="model-type-button-name">
                                    VGG16
                                </p>
                                <p class="model-type-button-description">
                                    An image classification model proposed by the University of Oxford with outstanding performance
                                </p>
                            </button>
                            <br>
                            <!-- <label for="CNN">CNN</label><br> -->
                            <!-- <%if(selectedModel==="other-CNN"){%> 
                                <button id="other-cnn-button" class="model-type-button model-type-button-selected" type="submit" name="selectedModel" value="other-CNN">
                            <%}else{%> 
                                <button id="other-cnn-button" class="model-type-button" type="submit" name="selectedModel" value="other-CNN">
                            <%}%> -->
                            <button id="other-cnn-button" >
                                <p class="other-cnn-model-type-button-name">
                                    Other Models
                                </p>
                                <p class="other-cnn-model-type-button-description">
                                    (coming soon)
                                </p>
                            </button>
                        </div>
                    </form>
                </div>    
                <!-- <br>
                <br>
                <a href="/">cancel </a>
                <br>
                <a href="/upload">next </a> -->
            </div>
            <div class="footer-nav">
                <a href="/">
                    <button class="nav-button">
                        Cancel
                    </button>
                </a>
                <%if(selectedModel){%>
                <a href="/upload">
                    <button class="nav-button next-button">
                        Next
                    </button>
                </a>
                <%}%>
            </div>
        </div>

        <% include partials/footer %>
    </body>
</html>