.home {
  padding-left: 10%;
}
.logout {
  padding-right: 150px;
}
body {
  color: #999;
  background: #f5f5f5;
  font-family: "Roboto", sans-serif;
}

.imgmetadata {
  font-size: 16px;
  font-weight: bold;
  color: #636363;
  text-align: left;
  font-style: normal;
  font: caption;
}

.btnStyle {
  margin-left: 5px;
  float: right;
}
.example-button {
  color: white;
  font: 14px "Open Sans", sans-serif;
  background: #636363;
  margin-top: 20px;
}
 

.imgid{
  color: #636363;
}
.cropBtn{
  background: #179b81;
  font-size: 16px;
        font-weight: bold;
}
