/*********************************Emma's style sheet for Training Module****************************/

/*
orange: rgb(255, 99, 71);
header gray: #212529;
blue button: #007bff


*/

body {
  background-color: #ffffff;
  /* color: #999;
  background: #f5f5f5;
  font-family: "Roboto", sans-serif; */
}

.navbar {
  background-color: #ffffff;
}

.logout-link {
  margin-top: 15px;
}

.step-title {
  font-size: 30px;
  color: #212529;
  /* text-align: center; */
  margin: 0.5rem 10rem 0.5rem 0;
}

.selected-project {
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.add-categories {
  display: flex;
  flex-direction: column;
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5px;
}

.category-item {
  width: 33%;
}

.category-item-button {
  border: none;
  background-color: transparent;
  font-size: 1.25rem;
}

.category-item-icon {
  padding-top: 5px;
  color: #428bca;
}

.category-item-text {
  padding-bottom: 5px;
  background-color: transparent;
  text-decoration: underline;
  color: #428bca;
  font-size: 20px;
}

.category-item-text:hover {
  color: #ffbf00;
}

.new-category-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  /* margin-left: .5rem;
      margin-right: .5rem; */
}

.new-category-input {
  font-size: 0.75rem;
  line-height: 1.75rem;
  width: 75%;
  padding-left: 10px;
  border: 1px solid rgb(238, 238, 238);
  /* box-sizing: border-box; */
}

.new-category-button {
  font-size: 0.75rem;
  line-height: 1.75rem;
  border: 1px solid #428bca;
  border: 0;
  background-color: #428bca;
  color: #ffffff;
  width: 25%;
}

.selected-category-text {
  margin-top: 1rem;
}

.selected-category {
  font-weight: 800;
}

.choose-files-button {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* footer nav */
.footer-nav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4rem;
}

.nav-button {
  font-size: 1rem;
  background-color: #ffffff;
  border-radius: 4px;
  /* background-color: rgb(245, 245, 245); */
  /* border: 1px solid rgb(227, 227, 227); */
  border: 1px solid #777777;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.nav-button:hover {
  background-color: rgb(66, 139, 202);
  color: #ffffff;
  border: 1px solid rgb(66, 139, 202);
}

.next-button {
  margin-left: 1.5rem;
}

.content-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.step-container {
  background-color: #ffffff;
  border: 1px solid rgb(227, 227, 227);
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 16px;
}

.step-directions {
  text-align: center;
}

.step-directions-upload {
  text-align: left;
  font-size: 18px;
}

.horizontal-line {
  border-top: 1px solid rgb(227, 227, 227);
  width: 100%;
}

/* 1. select model styling */

.model-type-button-container {
  display: flex;
  justify-content: center;
  padding: 1.25rem;
}

.model-type-button-container input[type="radio"] {
  opacity: 0.011;
  z-index: 100;
}

.model-type-button-container input[type="radio"]:checked + label {
  background: yellow;
}

.model-type-button-form {
  margin-left: auto;
  margin-right: auto;
}

.model-type-button {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 0.5rem;
  background-color: #cee6ff;
  /* background-color: rgb(245, 245, 245); */
  /* border: 5px solid #000067; */
  border-radius: 2px;
  box-sizing: border-box;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  color: #000;
}

.model-type-button:hover {
  outline: 3px solid #ffbf00;
  box-sizing: border-box;
  background-color: #cee6ff;
  color: #000;
}

.model-type-button-selected {
  outline: 3px solid #ffbf00;
  box-sizing: border-box;
  background-color: #cee6ff;
  color: #000;
}

.model-type-button-name {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
}

.model-type-button-description {
  font-size: 0.75rem;
}

.select-category-text {
  font-weight: 400;
}

.upload-steps-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.upload-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* .upload-container-inputs {
      display: flex;
      flex-direction: column;
  
  } */

.required-field {
  color: #b30000;
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  flex-grow: 1;
}

.upload-files-button {
  background-color: #428bca;
  color: #ffffff;
}

.upload-files-button:hover {
  color: #ffffff;
}

.params-content {
  text-align: center;
}

.params-form {
  max-width: 400px;
  margin: 1rem auto 1rem auto;
  text-align: left;
}

.params-submit-button {
  max-width: 400px;
  margin: auto;
  background-color: #428bca;
  color: #ffffff;
}

#advanced-input-button {
  background: none;
  border: none;
  color: #007bff;
  padding-left: 0;
}

#advanced-input-button:hover {
  color: #0056b3;
  text-decoration: underline;
}

.params-submit-button:hover {
  color: #ffffff;
}

.name-model-form {
  max-width: 400px;
  margin: 3rem auto 1rem auto;
}

.name-model-submit-button {
  background-color: #428bca;
  color: #ffffff;
}

.name-model-submit-button:hover {
  color: #ffffff;
}

/* Progress Bar */

.progress-container {
  position: relative;
  display: flex;
}

.progress-track {
  position: absolute;
  top: 5px;
  width: 100%;
  height: 5px;
  background-color: #abadae;
  z-index: 5;
}

.complete-bullet {
  position: absolute;
  right: 0%;
  content: "";
  display: flex;
  margin: 0;
  margin-bottom: 10px;
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 4px solid #abadae;
  border-radius: 100%;
  color: #2183dd;
  z-index: 10;
}

.complete-bullet-completed {
  position: absolute;
  right: 0%;
  content: "";
  display: flex;
  margin: 0;
  margin-bottom: 10px;
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 4px solid #ffbf00;
  border-radius: 100%;
  color: #2183dd;
  z-index: 10;
}

.complete-text {
  position: absolute;
  right: 0%;
  top: 25px;
  z-index: 10;
  font-size: 12px;
  color: #abadae;
}

.progress-track-completed {
  position: absolute;
  top: 5px;
  height: 5px;
  background-color: #ffbf00;
  z-index: 5;
}

.progress-track-finished {
  position: absolute;
  top: 5px;
  width: 100%;
  height: 5px;
  background-color: #ffbf00;
  z-index: 5;
}

.step1 {
  width: 0%;
}

.step2 {
  width: 25%;
}

.step3 {
  width: 50%;
}

.step4 {
  width: 75%;
}

.progress-step,
.progress-step-complete {
  /* margin-top: 2px; */
  position: relative;
  width: 100%;
  font-size: 12px;
  text-align: left;
  color: #abadae;
  z-index: 10;
}

.progress-step::before {
  content: "";
  display: flex;
  margin: 0;
  margin-bottom: 10px;
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 4px solid #abadae;
  border-radius: 100%;
  color: #2183dd;
}

.progress-step-complete::before {
  content: "";
  display: flex;
  margin: 0;
  margin-bottom: 10px;
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 4px solid #ffbf00;
  border-radius: 100%;
  color: #2183dd;
}

.display-none {
  display: none;
}

.main-container {
  padding-top: 150px;
}

/* CSS for confusion matrix cm */
.axis text {
  font: 10px sans-serif;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

td,
th,
tr {
  padding: 4px;
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

#dataView {
  margin-top: 50px;
}

#container .cell:hover {
  fill: #ff0000 !important;
}
