.form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form .form-heading,
.form .checkbox {
  margin-bottom: 10px;
}

.form .checkbox {
  font-weight: normal;
}

.form .form-control {
  position: relative;
  font-size: 15px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form .form-control:focus {
  z-index: 2;
}

.form input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.account-wall {
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-title {
  color: #555;
  font-size: 30px;
  font-weight: 400;
  display: block;
}

.need-help {
  margin-top: 10px;
}

.new-account {
  display: block;
  margin-top: 10px;
}

h3 {
  padding: 15px;
}

/*home page */
.thumbnail {
  height: 290px;
  width: 80%;
  border: silver solid;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
  font-style: italic;
  font-size: large;
  text-indent: 0;
}

img.scaled {
  height: 220px;
  width: 100%;
}

.thumbnail b {
  position: absolute;
  bottom: 10%;
  left: 12%;
  color: black;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 50px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  top: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(35px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
#del_img {
  padding: 6px;
}
#applydate {
  width: 97px;
  height: 38px;
  margin-top: 37px;
  top: 50px;
}
.date_filter {
  margin-right: 7px;
  float: left;
}

.del_img_view {
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
.left {
  text-align: left;
}

.topmargin {
  margin: 80px 0 1px 0;
}
.custombtn {
  font-size: 15px;
  font-weight: bold;
  background: #19aa8d;
  border-radius: 3px;
  border: none;
  outline: none !important;
}
.custombtn:hover,
.custombtn:focus {
  background: #179b81;
}
.home-header{
  float: left;
  font-size: 15px;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

.home-header:hover{
  background-color:black;
  text-decoration: none;
  color: white;
}
.vl {
  border-left: 6px solid rgba(243, 108, 45, 0.973);
  height: 30px;
}
/* .dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown:hover .dropbtn {
  background-color: red;
}
.dropdown-content {
  display: none;
  position: relative;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
} */
.navbar-dark .navbar-nav > li.dropdown:hover > a, 
.navbar-dark .navbar-nav > li.dropdown:hover > a:hover,
.navbar-dark .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}

li.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown{
  padding-top: 0.6rem;
}

.dropdown .dropdown-toggle{
  font-size: 15px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-decoration: none;
}

.dropdown:hover .dropdown-toggle{
  background-color: red;
}
.dropdown-menu {
  display: none;
  position: relative;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}