<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <span style="font-size: 25px; color: tomato;">
        <i class="fas fa-sitemap fa-fw"></i></span>
    <a class="navbar-brand" href="#" style="padding-left: 15px;">Image Classification Portal</a>
</nav>